extends base

block content
  section#account.account
    .top.padding--big.container.mb--md 
      h2.heading-secondary Twoje ustawienia <span> konta </span>


    .account__bottom.container--big 
      .account__links.container.mb--md

      
        .account__left 
          .account__link
            svg(width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" class="account__icon")
              path(d="M19.812 32.7011L13.739 32.7011C13.3585 32.7011 12.9894 32.575 12.6929 32.3436C12.3965 32.1122 12.1904 31.7894 12.109 31.4288L11.43 28.3791C10.5241 27.994 9.66519 27.5125 8.86898 26.9433L5.80415 27.8903C5.44138 28.0025 5.04995 27.991 4.69487 27.8576C4.33979 27.7242 4.04241 27.477 3.85213 27.157L0.808988 22.0564C0.620702 21.7362 0.550024 21.3633 0.608518 20.999C0.667011 20.6347 0.851213 20.3004 1.13099 20.0509L3.50844 17.9465C3.40033 16.9933 3.40033 16.0314 3.50844 15.0782L1.13099 12.9787C0.850816 12.7291 0.666364 12.3945 0.607861 12.0298C0.549358 11.6651 0.620275 11.292 0.808988 10.9715L3.84546 5.86774C4.03574 5.54775 4.33311 5.30053 4.6882 5.16714C5.04328 5.03376 5.4347 5.02223 5.79747 5.13447L8.86231 6.08141C9.26939 5.79004 9.69317 5.5181 10.1303 5.27206C10.5524 5.0422 10.9862 4.83339 11.43 4.64724L12.1107 1.60083C12.1917 1.24018 12.3973 0.917227 12.6935 0.685527C12.9897 0.453827 13.3586 0.327293 13.739 0.326904L19.812 0.326904C20.1924 0.327293 20.5613 0.453827 20.8575 0.685527C21.1536 0.917227 21.3593 1.24018 21.4403 1.60083L22.1277 4.64885C22.5948 4.84957 23.052 5.07457 23.4941 5.32547C23.9062 5.55695 24.3049 5.81109 24.6887 6.08465L27.7552 5.1377C28.1177 5.02588 28.5088 5.03762 28.8635 5.17099C29.2182 5.30435 29.5153 5.55133 29.7055 5.87098L32.742 10.9748C33.129 11.6336 32.9956 12.4672 32.42 12.9803L30.0425 15.0847C30.1506 16.0379 30.1506 16.9998 30.0425 17.953L32.42 20.0573C32.9956 20.5721 33.129 21.4041 32.742 22.0629L29.7055 27.1667C29.5152 27.4867 29.2179 27.7339 28.8628 27.8673C28.5077 28.0007 28.1163 28.0122 27.7535 27.9L24.6887 26.953C23.8931 27.5218 23.0347 28.0028 22.1293 28.3872L21.4403 31.4288C21.3589 31.7891 21.1531 32.1117 20.857 32.3431C20.5609 32.5745 20.1922 32.7008 19.812 32.7011ZM16.7688 10.0392C14.9989 10.0392 13.3014 10.7213 12.0499 11.9356C10.7984 13.1499 10.0952 14.7968 10.0952 16.514C10.0952 18.2312 10.7984 19.8781 12.0499 21.0924C13.3014 22.3066 14.9989 22.9888 16.7688 22.9888C18.5387 22.9888 20.2362 22.3066 21.4877 21.0924C22.7393 19.8781 23.4424 18.2312 23.4424 16.514C23.4424 14.7968 22.7393 13.1499 21.4877 11.9356C20.2362 10.7213 18.5387 10.0392 16.7688 10.0392Z" fill="#4F4F4F" )
              //- -const data = info[0]; 
            a( href="/me" ) zmień hasło
          .account__link
            svg(width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="account__icon")
              path(d="M30.2642 0.327148H3.28574C2.57022 0.327148 1.88402 0.540326 1.37807 0.919784C0.872127 1.29924 0.587891 1.8139 0.587891 2.35053V30.6779C0.587891 31.2146 0.872127 31.7292 1.37807 32.1087C1.88402 32.4881 2.57022 32.7013 3.28574 32.7013H30.2642C30.9797 32.7013 31.6659 32.4881 32.1719 32.1087C32.6778 31.7292 32.9621 31.2146 32.9621 30.6779V2.35053C32.9621 1.8139 32.6778 1.29924 32.1719 0.919784C31.6659 0.540326 30.9797 0.327148 30.2642 0.327148ZM10.0304 24.6078H7.33251V22.5844H10.0304V24.6078ZM10.0304 20.561H7.33251V18.5376H10.0304V20.561ZM10.0304 16.5142H7.33251V14.4908H10.0304V16.5142ZM10.0304 12.4675H7.33251V10.4441H10.0304V12.4675ZM10.0304 8.42069H7.33251V6.3973H10.0304V8.42069ZM26.2174 24.6078H12.7282V22.5844H26.2174V24.6078ZM26.2174 20.561H12.7282V18.5376H26.2174V20.561ZM26.2174 16.5142H12.7282V14.4908H26.2174V16.5142ZM26.2174 12.4675H12.7282V10.4441H26.2174V12.4675ZM26.2174 8.42069H12.7282V6.3973H26.2174V8.42069Z" fill="#4F4F4F")         
            a(href="/setStairs") dodaj/usuń kategorie
          .account__link
            svg(width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="account__icon")
              path(d="M0.963877 7.63367C0.544459 6.84837 1.30226 5.96974 2.2567 6.1372L12.4475 7.91955L19.7621 0.86464C20.4464 0.205822 21.6817 0.564305 21.8065 1.45792L23.2085 11.3831L32.502 15.8962C33.3396 16.3033 33.3287 17.3817 32.483 17.7717L23.1004 22.0963L21.4983 31.9912C21.3555 32.8821 20.1133 33.2156 19.4424 32.5411L12.2717 25.342L2.04696 26.9183C1.08934 27.0664 0.349422 26.1727 0.784605 25.396L5.74294 16.5609L0.963897 7.63165L0.963877 7.63367Z" fill="#4F4F4F")

            a(href="/addPhoto") Dodaj zdjęcia
          .account__link
            svg(width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"
            class="account__icon")
              path(d="M0.963877 7.63367C0.544459 6.84837 1.30226 5.96974 2.2567 6.1372L12.4475 7.91955L19.7621 0.86464C20.4464 0.205822 21.6817 0.564305 21.8065 1.45792L23.2085 11.3831L32.502 15.8962C33.3396 16.3033 33.3287 17.3817 32.483 17.7717L23.1004 22.0963L21.4983 31.9912C21.3555 32.8821 20.1133 33.2156 19.4424 32.5411L12.2717 25.342L2.04696 26.9183C1.08934 27.0664 0.349422 26.1727 0.784605 25.396L5.74294 16.5609L0.963897 7.63165L0.963877 7.63367Z" fill="#4F4F4F")

            a(href="/deletePhoto") Usuń zdjęcie
          .account__link
            svg(width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"
              class="account__icon")
              path(d="M29.7246 0.327148L3.82531 0.327148C2.96669 0.327148 2.14324 0.753503 1.53611 1.51242C0.928974 2.27134 0.587891 3.30065 0.587891 4.37392L0.587891 28.6545C0.587891 29.7278 0.928974 30.7571 1.53611 31.516C2.14324 32.275 2.96669 32.7013 3.82531 32.7013L29.7246 32.7013C30.5833 32.7013 31.4067 32.275 32.0138 31.516C32.621 30.7571 32.9621 29.7278 32.9621 28.6545L32.9621 4.37392C32.9621 3.30065 32.621 2.27134 32.0138 1.51242C31.4067 0.753503 30.5833 0.327148 29.7246 0.327148ZM29.7246 14.4908L3.82531 14.4908L3.82531 8.42069L29.7246 8.42069L29.7246 14.4908Z" fill="#4F4F4F")         
            a(href="/setPrice") dodaj/usuń Cennik
        .account__right 
          block form 

   


  

        block form2          