extends accountBase

block form
  h2.form__title Utwórz nową kategorie
  form.form.form__stairs
    .form__group 
      label.form__label(for='stairsName') Nazwa
      input.form__input(id='stairsName' type='text'  required name='name')
    .form__group.form__stairs--imageCover      
      input.form__upload(type='file', accept='image/*', id='imageCover', name='imageCover')
      label(for='imageCover') Wybierz duze zdjęcie
    .form__group 
      label.form__label(for='description') Opis
      textarea.form__input(id='description'  required name='description' rows="5" cols="33") Zapraszamy do zapoznania się z realizacjami tego typu schodów w naszym wykonaniu jak i z samą balustradą, którą rownież montujemy. Na zdjęciach można obejrzeć zastosowanie takich konstrukcji oraz poznać więcej szczegółów.
    .form__group.form__stairs--images      
      input.form__upload(type='file', accept='image/*', id='stairsImages', name='images' )
      label(for='stairsImages') Wybierz zdjęcie
    .form__group 
      label.form__label(for='stairsSummary') Podsumowanie
      textarea.form__input(id='stairsSummary'  required name='stairsSummary' rows="5" cols="33") 
    .form__group 
      button.btn.account__btn.btn--set-category(type='submit') Zapisz kategorię
block form2 
  .container--big.mt--bg   
    h2.form__title Usuń kategorie
    form.form.form__deleteStairs
      .form__group 
        label.form__label(for='categorySelect') Wybierz kategorię
        select.form__input(id='categorySelect' name="categoryType" required)
          option(value="") Wybierz opcje
            each item in stairs
              option(value=`${item.name}` data-id=`${item.id}`)= item.name
      .form__group 
        button.btn.account__btn.btn--delete-category(type='submit') Usuń kategorie
